Gemfile.lock
test/gemfiles/*.lock
Berksfile.lock
.kitchen/
.kitchen.local.yml
test/docker/
coverage/
pkg/
/Makefile
/Makefile~
/parsetrace.rb~
/test_files/dna.json~
/test_files/knife.rb~
/test_files/solo.rb~
